<!-- Describe task in general -->

<p>
    You have {% if interpreter.slug == "js-node" %}an array{% else %}a list{% endif %}. Each value from that {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %} can be either a string or an integer. Your task here is to return two values. The first one is a concatenation of all strings from the given {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %}. The second one is a sum of all integers from the given {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %}.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> {% if interpreter.slug == "js-node" %}An array{% else %}A list{% endif %} of strings and integers.
</p>

<p>
    <strong>Output: </strong> {% if interpreter.slug == "js-node" %}An array{% else %}A tuple{% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!--<p class="for_info_only">

    <strong>How it’s used: </strong>
    <i>(math is used everywhere)</i>
</p>-->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!--<p>
    <strong>Precondition:</strong>
    <i>both given ints should be between -1000 and 1000</i>
</p>-->
